@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 20px;
  line-height: 1.5;
  color: #777777;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative;
}

a {
  color: #3296c8;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #3296c8;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans","Helvetica Neue",Helvetica,"PingFang SC","Microsoft Yahei","WenQuanYi Micro Hei",Arial,Verdana,sans-seri;
  color: #000;
  font-weight: 200;
}

::-webkit-selection {
  color: #fff;
  background: #f9f6f0;
}

::-moz-selection {
  color: #fff;
  background: #f9f6f0;
}

::selection {
  color: #fff;
  background: #f9f6f0;
}

.gradient-fill {
  background-color: #3296c8;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #52d3aa), color-stop(1, #3296c8));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #52d3aa 0%, #3296c8 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #52d3aa 0%, #3296c8 100%);
  background-image: -ms-repeating-linear-gradient(top left, #52d3aa 0%, #3296c8 100%);
}

#cbio-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
  height: 74px;
}

#cbio-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}

#cbio-header #navbar li a {
  color: #fff;
  position: relative;
  font-size: 16px;
  font-weight: 200;
}

#cbio-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}

#cbio-cover {
  height: 900px;
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

#cbio-cover .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
  height: 900px;
}

#cbio-cover .text-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#cbio-cover .text-inner a {
  color: white;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#cbio-cover .text-inner a:hover, #cbio-cover .text-inner a:active, #cbio-cover .text-inner a:focus {
  text-decoration: none;
  color: white;
  border-bottom: 1px dashed white;
}

#cbio-cover .text-inner h1 {
  font-size: 50px;
  color: white;
  margin: 0 0 20px 0;
}

#cbio-cover .text-inner h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

#cbio-intro{
  height: 600px;
  overflow: hidden;
  position: relative;
}

.cbio-block {
  display: table;
  height: 600px;
}

.cbio-block-text {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
}

.cbio-block-text h2 {
  margin-bottom: 30px;
}

.cbio-intro-icon {
  font-size: 50px;
  color: #3296c8;
  margin-bottom: 30px;
  display: block;
}

#cbio-about {
  height: 600px;
  overflow: hidden;
  color: #ffffff;
}

#cbio-about h2 {
  color: #fff;
  margin-bottom: 35px;
}

#cbio-about .text-wrap {
  display: table;
  position: relative;
  height: 600px;
}

#cbio-about .text-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#cbio-about p {
  font-size: 16px;
}

#cbio-contact {
  height: 600px;
  overflow: hidden;
  position: relative;
}

#cbio-contact ul{
  list-style: none;
}

#cbio-contact ul li {
  display: inline;
  margin-right: 20px;
}

#cbio-contact .text-wrap {
  display: table;
  position: relative;
  height: 600px;
  width: 100%;
}

#cbio-contact .text-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

#cbio-contact p {
  font-size: 14px;
}

#cbio-footer {
  height: 70px;
  margin: auto;
  font-size: 14px;
  font-weight: 100;
  background-color: #2d3237;
  color: #f9f6f0;
}

#cbio-footer .text-wrap {
  display: table;
  position: relative;
  height: 70px;
}

#cbio-footer .text-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#cbio-footer .text-inner p {
  margin-bottom: 0x !important;
}